body {
  padding-top: 70px;
}
/*todo peut-être moyen de changer ceci avec message_tags*/
.info {
  color:blue;
}
.success {
  color:green;
}
.warning {
  color:orange;
}
.error {
  color:red;
}
.btn.btn-as-block {
  display: block;
}
.invisible{
  visibility: hidden;
}

.cadre-kaki{
  background-color:#a5bc16;
  border-radius: 6px;
}
