{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<br/>

<div class="row">
  <div class="">
    RAID MOSAN

    DIMANCHE 25 SEPTEMBRE 2016

    Ouverture des inscriptions   le 01 mai 2016
  </div>
</div>
<p>

</p>
<p>

Le Raid Mosan est une épreuve d'endurance se déroulant par équipes de deux (dames, hommes ou mixte) basée sur l'esprit d'équipe et d'aventure, le tout dans un cadre 100 % naturel.
</p>
<p>
  Programme de la journée

- 8h15 à 9h30 : Réception des dossards

- 9h45            : Briefing

- 10h00          : Départ

Parc à vélo surveillé avec box prévu pour le relais.

Parcours fléché.

Bike wash.

Ravitaillements.

Douches
</p>
<p>


Le Raid Mosan s'intègre dans un challenge regroupant plusieurs épreuves.

Le RAID TROPHY

Ce challenge n'est pas obligatoire,mais ceux qui désirent être classés dans ce challenge doivent participer à  3 des 8 épreuves proposées ci-dessous :

 - Le Natu'Raid : dimanche 26 juin  - domaine de Coo, Stavelot

 - Le Namuraid : Dimanche 10 juillet - site de la citadelle, Namur

 - Le Raid de Bruxelles : Samedi 20 août - Parc de la Woluwe, Wolluwe-Saint-Lambert

 - Le Raid du festival Sport Nature : samedi 20 août -hall omnisport, Hamoir

 - Le RBKC Challenge : Samedi 27 août - Lohan - La Roche- en - Ardenne

 - Le Raid de Liège : Dimanche 11 septembre - Site de l'ADEPS - Sart Tilman Liège

 - Le Raid Mosan : Dimanche 25 septembre - Anseremme , Dinant

 - Le Raid du BW :début octobre centre sportif de Sart-Dames-Avelines.

​
</p>
{% endblock %}
