{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}


<div class="row">
  <div class="col-md-12">
    <h2><div class="panel-body cadre-kaki">RAID MOSAN - Responsabilité individuelle</div></h4>

    Notre organisation met tout en œuvre pour assurer la sécurité optimale de l'activité à laquelle vous allez participer.<br><br>

    L'activité à laquelle vous allez participer est peut-être une découverte pour vous. C'est pourquoi l'objectif de ce document est d' assurer que vous vous rendiez compte des points suivants.<br><br>

    <h4><u><span>Responsabilité :</span></u></h4>

    Les organisateurs déclinent toute responsabilité pour les accidents corporels, dégâts, perte ou vol qui pourraient survenir aux participants, spectateurs et autres, ainsi qu'au matériel personnel ou loué.<br><br>

    Vous confirmez que vous ne suivez pas en ce moment un traitement médical qui affecte votre comportement ou qui serait susceptible de l'affecter.<br><br>

    Actuellement, vous ne souffrez d'aucun état physique ou mental qui limiterait votre vigilance.<br><br>

    <h4><u><span>Vos engagements :</span></u></h4>

    Tout en assistant aux activités, vous suivez à tout moment les instructions qui vous seront énoncés.<br><br>

    Vous serez seul responsable des biens que vous emporterez avec vous dans le cadre des activités (appareils photos, caméra ...)<br><br>

    Vous vous engagez à respecter le code de la route<br><br>

    Vous déclarez savoir nager.<br><br>

    En cas d'infraction de votre part, vous reconnaissez être tenu pour seul responsable des accidents et des dommages survenus de ce fait ou dont vous seriez victime.<br><br>
  </div>
</div>
    <div class="row">
      <div class="col-md-12">
    <h4><u><span>Kayaks :</span></u></h4><img src="{% static 'images/kayak.png' %}" height="50px"/>

    L'organisation fournit un kayak par équipe, ainsi que des pagaies et des gilets. Le port du gilet est obligatoire.<br><br>
</div>

    </div>
    <h4><u><span>VTT :</span></u></h4><img src="{% static 'images/vtt.png' %}" height="50px"/>

    Les participants possèdent leur propre VTT. Le port du casque est obligatoire et aucune possibilité de signer des dérogations ne sera prise en comte à ce sujet..<br><br>

    <h4><u><span>Inscriptions :</span></u></h4>

    Droit de participation : 55 € par équipe<br><br>

    Ce prix inclut : Les dossards à puces, la location du bateau et son matériel, deux T.shirts par équipe, la douche, le bikewash, les ravitaillements<br><br>

    La date limite d'inscription est fixée au 31 août 2016.<br><br>

    Les inscriptions sont officielles dès réception du paiement.<br><br>

    le montant est à verser sur le compte BE30 0004 23 70 68 11 avec en communication Raid Mosan et le nom de l'équipe<br><br>

    <h4><u><span>Désistement</span></u></h4>

    En cas de désistement, il est impératif de prévenir les organisateurs du Raid Mosan soit par mail ou par téléphone. Le remboursement du montant de l'inscription ne sera fait que si le désistement intervient au plus tard le 01 septembre 2016<br><br>

    <h4><u><span>Classement :</span></u></h4>

    A l'issu de la course, les 3 premières équipes classées de chaque catégorie seront récompensées et recevrons un prix. Seules les équipes complètes à l'arrivée seront classées. seront qualifiés les équipes dont les 2 membres auront accompli ensemble les différentes épreuves, et auront passé en équipe l'ensemble du parcours, sans avoir reçu aucune aide extérieure aux membres de l'équipe.<br><br>

    <h4><u><span>Nos droits :</span></u></h4>

    Nous nous réservons de pouvoir à tout moment mettre fin aux activités dans l'intérêt d'autrui.<br><br>

    Nous nous réservons à tout moment de modifier l'activité sans préavis.<br><br>

    Des contrôles seront effectués et tout comportement non conforme aux diverses prescriptions entrainera "d'office" une exclusion de la course.<br><br>

    En vous inscrivant à l'épreuve, vous confirmez comprendre entièrement  ce règlement et vous l'acceptez .<br><br>

  </div>
</div>
<p>


​
</p>
{% endblock %}
