{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Conseil immo</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
		    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
        <link rel="icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
        {% block style %}
        {% endblock %}
        <style>
          body { font-family: 'Armata', sans-serif; }
        </style>
    </head>
    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo_raidmosan.png' %}" style="margin-top: -10px;"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'batiment_list' %}">Batiments</a></li>
                  <li><a href="{% url 'proprietaire_list' %}">Proprietaires</a></li>
                <!--  <li><a href="{% url 'xlsRead' %}">Test xls read</a></li>-->
                  <li><a href="{% url 'suivis' %}">Suivis</a></li>
                  <li><a href="{% url 'contrat_gestion_list' %}">Les contrats de gestion</a></li>
                  <li><a href="{% url 'fraismaintenance_list' %}">Frais de maintenance</a></li>
                  <li><a href="{% url 'personne_list' %}"Personnes</a></li>

                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin" target="_blank"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Admin</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ request.user.first_name }} <span class="caret"></span></a>

                </li>

            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <br/>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            {% block breadcrumb %}
            {% endblock %}

        {% block content %}
        {% endblock %}
      </div>

      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">

        </div>
      </nav>

      <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/osis.js" %}"></script>
      {% block script %}
      {% endblock %}
    </body>
</html>
